<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src=''></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <%- include('header/menu.ejs')%>
    <h1>  <%=namePage%> PAGE   </h1>
    
    <div>
        <h1>here you can add a book</h1>
    </div>
    <div>
        <form action="/server.js" method="POST">

            <input type="text" name="title">
            <input type="number" name="npages">
            <button type="submit">ADD the Book</button>

        </form>


    </div>
</body>
</html>
